@model List<Room>
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2 class="mx-5 my-4" style="font-family: 'Exo 2', sans-serif; font-size:larger">Welcome Admin</h2>
<div class="container mx-5 my-3" style="font-family: 'Poppins',sans-serif;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="my-1">Room Name</th>
                <th class="my-1">Capacity</th>
                <th class="my-1">Type</th>
                <th class="my-1">Fair</th>
                <th class="my-1">Booked or not</th>
                <th class="my-1">Edit</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach(Room room in Model)
                {
                    <tr>
                    <td>@room.RoomName</td>
                    <td>@room.Capacity</td>
                    <td>@room.Type</td>
                    <td>@room.Fair</td>
                    <td>@room.IsBooked</td>
                    <td>@Html.ActionLink("Edit", "EditRoom", "Dashboard", new {RoomName=room.RoomName})</td>
                    </tr>

                }
        </tbody>
    </table>
    <div>
    <a class="btn btn-primary" asp-controller="Dashboard" asp-action="AddRoom">Add New Room</a>
    <a class="btn btn-primary" asp-controller="User" asp-action="HotelRoom">Search Room</a>
    </div>
</div>
