@model User
@{
    ViewBag.Title = "User Dashboard";
}

<h1 class="mx-4">Welcome, @Model.Name</h1>
<table class="table mx-4">
    <tbody>
        <tr>
            <th scope="row">Mobile:</th>
            @if (!@Model.PhoneNumberConfirmed)
            {
                <td>@Model.PhoneNumber <a class="link-danger" href="#">Verify</a></td>
            }
            else
            {
                <td>@Model.PhoneNumber <div class="link-success">Verified</div></td>
            }
        </tr>
        <tr>
            @if(@Model.EmailConfirmed) 
            {
                <th scope="row">Email:</th>
                <td>@Model.Email <a href="#" class="link-success">Verified</a></td>
            }
            else
            {
                <th scope="row">Email:</th>
                <td>@Model.Email <a href="#" class="link-danger">Verfify</a></td>
            }
        </tr>
        <tr>
            <th scope="row">Username:</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th scope="row">Id Proof:</th>
            <td>@Model.IdProof</td>
        </tr>
        <tr>
            <th scope="row">Gender:</th>
            <td>@Model.Gender</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary mx-4" asp-action="History" asp-controller="Dashboard">History</a>
<a class="btn btn-primary" asp-action="Book" asp-controller="Booking">Book Room</a>